header{
    width: 100%;
    height: auto;
    background-color: lightblue;
    text-align: center;
}
.title{
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}
li{
    display: inline-block;
    width: auto;
    height: auto;
    background-color: lightskyblue;
    border: 3px solid black;
    margin-left: 20px;
    margin-right: 20px;
}
li:hover{
    background-color: darkcyan;
    font-weight: bold;
    
}
.search, .title, .button{
    display: inline-block;
}
a{
    text-decoration: none;
    color: dodgerblue;
    margin: 0px 0px 0px 0px;
}
a:hover{
    text-decoration: underline dodgerblue;
}
hgroup{
    font-family: sans-serif;
    text-align: center;
}
section{
    text-align: center;
}
.title-poem{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.sub{
    font-style: italic;
    color: darkslategray;
}
.poem{
    width: 500px;
    height: auto;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
}
footer{
    text-align: center;
}
