*{
    margin-top: 25px;
    margin-left: 25px;
}

a:hover{
    text-decoration: underline dodgerblue;
}

header{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
}
.story, .nature, .about, .name{
    font-weight: bold;
}

a.forests{
    margin-left: 10px;
}

p.inline{
    display: inline;
    margin: auto 10px auto 10px;
    color: dodgerblue;
}

a{
    text-decoration: none;
    color: dodgerblue;
    margin: 0px 0px 0px 0px;
}

hgroup{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 75px;
}

h1.title{
    font-size: 50px;
    margin-top: -20px;
    margin-bottom: -25px;
}

h2.subtitle{
    font-style: italic;
    font-size: 16px;
    color: gray;
}

p{
    width: 700px;
    font-size: 19px;
    font-family: 'Lora', serif;
}

img.image{
    width: 700px;
    margin-left: 0px;
}

figcaption{
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    color: gray;
    width: 700px;
}

footer.div{
    display: inline;
}

.about, strong{
    margin-left: 0px;
}

.about, .name{
    font-family: 'Roboto', sans-serif;
}

.about{
    font-size: 20px;
}

.aboutAuthor{
    font-family: 'Lora', serif;
    font-size: 16px;
}

.sublink:hover{
    text-decoration: underline gray;
}

.name:hover{
    color: steelblue;
    text-decoration: underline steelblue;
}

.svg{
    margin-left: -10px;
}

.sublink{
    color: grey;
}

#subcontein{
    position: relative;
    margin-left: 45px;  
}

#img{
    display: inline-block;
    position: absolute;
    margin: -25px -25px;
}

#text{
    width: 500px;
    height: 294px;
    
    background-color:#a6a6a6;
    display: inline-block;
    margin: 0px 0px 0px 0px;
}